*{
    box-sizing: border-box;    
    margin:0;
    padding: 0;
}


.navbar__main{
    background-color:#000 ;    
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}   

.navbar__main .navbar__list {
    color: #fff !important;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.footer__container {
    height: 5vh;
    background-color: black;
    color: black;
}

